.header{
    width: 100%;
    height: 150px;
    background-color: #E60109;
}

.headerLogo img {
    width:500px;

}


/** {*/
    /*border: 1px solid red;*/
/*}*/

.searchFilter{
    height: 1000px;
    float: left;
    width: 19%;
    border-style: solid;
}

#content{
    width: 60%;
    height: 100%;
    float: left;
    border-style: solid;
}

#cartBar {
    width: 19%;
    height: 1000px;
    float: right;
    border-style: solid;
}
img {
    float: left;
    width: 150px;
    height: 150px;
}

ul{
    list-style-type: none;
}

.contentItems {
    font-weight: bold;
    border: 1px black solid;
    float: right;
}


#checkout {
    width: 100%;
}

.cartItems {
    font-weight: bold;
    border: 1px black solid;
}