.header{
    width: 100%;
    height: 100px;
    background-color: yellow;
}

/** {*/
    /*border: 1px solid red;*/
/*}*/

.searchFilter{
    height: 1000px;
    float: left;
    width: 19%;
    border-style: solid;
}

#content{
    width: 60.5%;
    height: 1000px;
    float: left;
    border-style: solid;
}

#cartBar {
    width: 19%;
    height: 1000px;
    float: right;
    border-style: solid;
}

ul{
    list-style-type: none;
}

#n1, #n2, #n3, #n4, #n5, #n6 {
    font-weight: bold;
    border: 1px black solid;
}