.header{
    width: 100%;
    height: 150px;
    background-color: #E60109;
}

.headerLogo img {
    width:500px;

}


/** {*/
    /*border: 1px solid red;*/
/*}*/

.searchFilter{
    height: 1000px;
    float: left;
    width: 19%;
    border-style: solid;
}

#content{
    width: 60%;
    height: 100%;
    float: left;
    border-style: solid;
}

#cartBar {
    width: 19%;
    height: 1000px;
    float: right;
    border-style: solid;
}
img {
    float: left;
    width: 150px;
    height: 150px;
}

ul{
    list-style-type: none;
}

.contentItems {
    font-weight: bold;
    border: 1px black solid;
    float: right;
}


#checkout {
    width: 100%;
}

.cartItems {
    font-weight: bold;
    border: 1px black solid;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 200px;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}